/* SCSS STYLESHEET */
<<<<<<< HEAD
$a: blue;

.nav-link {
 color: $a;
}
tr {
    color: pink;
}
.card {
    border-color: red;
}
=======
$color: khaki;
>>>>>>> 41b9048c427fde303c27f9030d20717b5ac460e1
