$a: red;
$b: black;
$f: 'Dancing Script', cursive;
body {
    background-color: black;
}
body > div {
    color: $a;
}
.jumbotron {
    background-color: $b;
}
.nav-link {
    font-family: $f;
    font-size: 1.5em; 
}
@media (min-width: 600px) {
    .nav-link {
        color: yellow;
    }
}
@media (max-width: 699px) {
    .nav-link {
        color: white;
    }
}
/* IMAGES */
.i1 {
    height: 300px;
    width: 100%;
}
.i2 {
    height: 450px;
    width: 540px;
}
#pnr {
    position: relative;
    top: 30%;
}
/* CONTAINER */
[class~=blog] {
    font-family: $f;
    font-size: 1.5em;
    left: 5%;
}
#investment {
    font-family: $f;
    font-size: 1.5em;
    left: 5%;
}
/*GRID*/
.grid {
    display: grid;
    grid-column-gap: 6.5%;
    grid-row-gap: 10px;
    grid-template-columns: 20% auto auto auto;
}
.grid-item {
    margin: 2.5%;
}
.grid2 {
    display: grid;
    grid-column-gap: 15%;
    grid-row-gap: 10px;
    grid-template-columns: 40% 40%;
    background-color: black;
}
.grid2 .card {
    width: 100%;
    height: 400px;
    border-color: black;
    background-color: black;
}
div.card-body{
    background-color: black;
}
card > card-img-top {
    width: 100%;
    height: 450px;
}
.card {
    border-color: black;
}
/* TABLE */
#pricelist {
    position: relative;
    top: 10%;
    left: 45%;
}
table {
    th {
    border: 0.5px solid blue;
    width: 85%;
    text-align: center;
    color: green;
  }
  tr {
    border: 0.5px solid blue;
    width: 85%;
    text-align: center;
  }
  td {
    border: 0.5px solid blue;
    width: 85%;
    text-align: center;
    color: brown; 
  }
}
%inhf {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 1em;
    color: blueviolet;
}
.first {
    @extend%inhf; 
        background-color: black;
        color: green;
        justify-content: center;
}
.second {
    @extend%inhf;
        background-color: black;
        color: blue;
}
.third {
    @extend%inhf;
    background-color: black;
    color: yellow;
    justify-content: center;
}